aclocal.m4
autom4te.cache
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
intltool-*.in
.intltool-merge-cache
libtool
ltmain.sh
Makefile
Makefile.in
missing
stamp-h1
data/menu/freetuxtv.desktop
.deps
.libs
*.lo
*.o
*.la
*.gmo
src/freetuxtv
po/Makefile.in.in
po/POTFILES
po/stamp-it
